.wysiwyg-editor {
	padding-right: 2px;
}

.wysiwyg-editor-preview p {
	padding: 0;
}

.wysiwyg-editor-tab {
	margin: 1ex 0;
}

.wysiwyg-editor-tab ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.wysiwyg-editor-tab ul li {
	display: inline-block;
	margin-right: 1em;
}

.wysiwyg-editor-tab ul li a.active {
	color: inherit;
	text-decoration: none;
}

.mce-tinymce,
.mce-top-part::before {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.mce-listbox button,
.mce-listbox:hover button,
.mce-btn button,
.mce-btn:hover button,
.mce-close,
.mce-close:hover {
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
