.wysiwyg-editor {
  padding-right: 2px;
}

.wysiwyg-editor-preview.wiki-preview {
  background-color: #ffffff;
}

.wysiwyg-editor-preview p {
  clear: none;
  padding: 0;
}

.wysiwyg-editor-tab {
  margin: 1ex 0;
}

.wysiwyg-editor-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wysiwyg-editor-tab ul li {
  display: inline-block;
  margin-right: 1em;
}

.wysiwyg-editor-tab ul li a.active {
  color: inherit;
  text-decoration: none;
}

.tox-autocompleter .tox-collection__item img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
