.wysiwyg-editor {
  padding-right: 2px;
}

.wysiwyg-editor-preview.wiki-preview {
  background-color: #ffffff;
  position: relative;
}

.wysiwyg-editor-preview p {
  clear: none;
  padding: 0;
}

.wysiwyg-editor-tab {
  margin: 1ex 0;
}

.wysiwyg-editor-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wysiwyg-editor-tab ul li {
  display: inline-block;
  margin-right: 1em;
}

.wysiwyg-editor-tab ul li a.active {
  color: inherit;
  text-decoration: none;
}

/* FIXME: Tool bar style may be broken under certain Redmine themes. */

.wysiwyg-editor .tox-tinymce {
  border: 1px solid #eee;
  border-radius: 0;
}

.wysiwyg-editor .tox:not(.tox-tinymce-inline) .tox-editor-header {
  padding: 0;
}

.wysiwyg-editor .tox .tox-toolbar__group {
  padding: 0 4px;
}

.rte-autocomplete > li > strong {
  font-weight: bold;
}

.rte-autocomplete > .active {
  background: #555c66;
  color: white;
}
