name: Run RuboCop

on: [push]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '3.2', '3.3', '3.4' ]
    name: Ruby ${{ matrix.ruby }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Run RuboCop
        run: |
          cp Gemfile.local Gemfile
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rubocop
