name: Run tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install Node packages
        run: npm install

      - name: Run ESLint
        run: npm run eslint

      - name: Run tests
        run: npm run test
